body{
    font-family: Verdana, sans-serif;
    color: white;
}

.container{
    background: url(../img/rana-sawalha-364253-unsplash.png) no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 20px;
}

.header{
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    padding: 15px 4.75%;
    box-sizing: border-box;
}

.header:after{
    content: '';
    clear: both;
    display: table;
}

.logo a{
    color:  #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    float: left;
    text-decoration: none;

}

.logo a:hover{
    color: #3cb878;
    transition: 0.5s;
}

.menu{
    float: right;
}

.log-sign{
    position: relative;
    display: inline-block;
    top: -5px;
    margin-left: 15px;
    border-left: 1px solid white;
    padding-left: 14px;
}

.log-sign a{
    color: #3cb878;
    text-decoration: none;
}

.log-sign a:hover {
    text-decoration: underline;
}

.link {
    width: 29px;
    height: 21px;
    background-image: url(../img/sprite.png);
    display: inline-block;
}

.icon1 {
    background-position: -4.5px -5px;
    margin-right: 15px;
}

.icon1:hover {

    background-position: -33.5px -5px;
}

.icon2 {
    background-position: -62px -5px;
    margin-right: 15px;
}

.icon2:hover {
    background-position: -99.3px -5px;
}

.icon3 {
    background-position: -132.9px -5px;
}

.icon3:hover {
    background-position: -163px -5px;
}


.main-content {
    font-family: Verdana, sans-serif;
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    margin-top: 50px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 62px;
    text-align: center;
}

.upper-part:after{
    content: '';
    display: table;
    clear: both;
}

.upper-part p {
    float: left;
}

.upper-part a {
    color: #3cb878;
    font-size: 14px;
    float: right;
    text-decoration: none;
}

.upper-part a:hover {
    text-decoration: underline;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

input {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.square {
    position: absolute;
    background-color: #3cb878;
    width: 18px;
    height: 19px;
    left: 0px;
    top: 22px;
}

.btng, .btnf {
    margin-top: 14px;
    border-radius: 3px;
    background-color:  #df4a32;
    width: 157px;
    height: 46px;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 16px;
    line-height: 21px;
}

.btnf {
    background-color: #305db8;
}

.btnf:hover {
    background-color: #264b96;
    transition: 0.5s;
}

.btng:hover {
    background-color: #c3412c;
    transition: 0.5s;
}

.fab {
    font-size: 20px;
    position: relative;
    top: 1px;
    font-weight: 700;
    padding-right: 7px;
    border-right: 1px solid rgba(0,0,0,0.2);
    margin-right: 25px;
    padding-left: 10px;
}

.text-with-lines {
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;
}
.text-with-lines p {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 15px;
    background-color: #fff;
    color:  #848484;
    font-size: 14px;
    line-height: 21px;
}

.text-with-lines:before, .text-with-lines:after {
    content: '';
    display: inline-block;
    width: 50%;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.41);
    transform: translateY(60%);
}
.text-with-lines:before {
    left: 0;
}
.text-with-lines:after {
    right: 0;
}

.form1 input {
    width: 100%;
    margin: 5px 0px;
    height: 46px;
    font-family: Verdana, sans-serif;
    color:  #bebebe;
    font-size: 14px;
    line-height: 21px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #bebebe;
}

.form1 input:focus{
    outline: none;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.52);
    color: black;
}

.form1 > .submit {
    background-color: rgb(60, 184, 120);
    text-align: center;
    width: 100%;
    border-radius: 4px;
    margin-top: 25px;
    color: white;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}

.form1 > .submit:hover {
    background-color: rgb(50, 154, 101);
    transition: 0.5s;
}

.form1 label{
    margin-right: 50px;
}

.form1 input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 60px;
    top: 420px;
    z-index: -1;
}

.form1 a {
    text-decoration: none;
    color: #3cb878;
}

.form1 a:hover {
    text-decoration: underline;
}

.checkmark{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;;
    border-radius: 4px;
    border: 1px solid #bebebe;
}

label > input:checked ~ .checkmark {
    background-image: url(../img/galka.png);
}

